GEMINI_API_KEY=your_google_ai_api_key_here

GEMINI_EMBEDDING_MODEL=text-embedding-004
GEMINI_CHAT_MODEL=gemini-2.0-flash

CHROMA_COLLECTION=faq
CHROMA_PATH=C:\Users\User\Desktop\rawstone\nitrochat-admin\nitrochat-admin-backend\rag-system\chroma

RAG_TOP_K=4
